<!DOCTYPE HTML>
<html>
<head>
<title><%= @title %></title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/geolocate.js"></script>
</head>
<body>
<h1>Hello matey</h1>

<p> Choose some presets:
<select id="presets">
  <option value=""></option>
  <option value="55.9486 -3.2008">Edinburgh Castle</option>
  <option value="51.5073 -0.1276">Charing Cross, London</option>
  <option value="56.3757 -3.8426">Crieff Hyrdo, Crieff</option>
  <option value="51.9965 -0.7428">Bletchley Park</option>
</select>
or use <button id="current_location">current location</button></p>

<form action="/nearest" method="get">
  <ol>
    <li>
    <label for="latitude">Latitude</label>
    <input type="text" id="latitude" name="latitude" value="<%=h conn.params[:latitude] %>"/>
    </li>
    <li>
    <label for="longitude">Longitude</label>
    <input type="text" id="longitude" name="longitude" value="<%=h conn.params[:longitude] %>"/>
    </li>
    <li>
    <label for="count">How many?</label>
    <input type="number" id="count" name="count" value="<%=h(conn.params[:count] || 4)%>"/>
    </li>
    <li>
    <input type="submit" value="Show me some weather stations!"/>
    </li>
  </ol>
</form>


<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Distance</th>
    <th>Unitary Authority</th>
    <th>Region</th>
    <th>Elevation</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </thead>
  <tbody>
  <%= lc site inlist @sites do %>
  <tr>
    <td><%=site[:id] %></td>
    <td><%=site[:name] %></td>
    <td><%=site[:distance] %></td>
    <td><%=site[:unitaryAuthArea] %></td>
    <td><%=site[:region] %></td>
    <td><%=site[:elevation] %></td>
    <td><%=site[:latitude] %></td>
    <td><%=site[:longitude] %></td>
  </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
