<!DOCTYPE HTML>
<html>
<head>
<title><%= @title %></title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/geolocate.js?393939393"></script>
<div class="container">
<h1>Hello matey</h1>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="presets"> Choose some presets:</label>
    <select id="presets" class="form-control">
      <option value=""></option>
      <option value="55.9486 -3.2008">Edinburgh Castle</option>
      <option value="51.5073 -0.1276">Charing Cross, London</option>
      <option value="56.3757 -3.8426">Crieff Hyrdo, Crieff</option>
      <option value="51.9965 -0.7428">Bletchley Park</option>
    </select>
    <label for="current_location" class="sr-only"> or use </label>
    <button id="current_location" class="form-control">current location</button>
  </div>
</form>

<form action="/nearest" method="get" role="form">
  <div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="text" id="latitude" name="latitude" value="<%=h conn.params[:latitude] %>"/>
  </div>
  <div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="text" id="longitude" name="longitude" value="<%=h conn.params[:longitude] %>"/>
  </div>
  <div class="form-group">
    <label for="count">How many?</label>
    <input type="number" id="count" name="count" value="<%=h(conn.params[:count] || 4)%>"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Show me some weather stations!"/>
  </div>
</form>

<%= if length(@sites) > 0 do %>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Distance</th>
    <th>Unitary Authority</th>
    <th>Region</th>
    <th>Elevation</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </thead>
  <tbody>
  <%= lc site inlist @sites do %>
  <tr>
    <td><%=site[:id] %></td>
    <td><%=site[:name] %></td>
    <td><%=site[:distance] %></td>
    <td><%=site[:unitaryAuthArea] %></td>
    <td><%=site[:region] %></td>
    <td><%=site[:elevation] %></td>
    <td><%=site[:latitude] %></td>
    <td><%=site[:longitude] %></td>
  </tr>
  <% end %>
  </tbody>
</table>
  <% end %>
</div>
</body>
</html>
